h1 {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-list {
  display: grid;
  gap: 12px;
  margin: auto;
  max-width: 800px;
}

.product-container {
  display: flex;
  align-items: center;
  background-color: var(--color-surface-200);
  border-radius: 10px;
  padding: 10px;
}

.product-image img {
  border-radius: 10px;
  margin-right: 20px;
}

.product-details {
  flex: 1;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
}

.page {
  margin: 0 10px;
  font: bold;
  font-size: large;
}

.pagination-button-disabled:hover {
  cursor: not-allowed;
}
