* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1000px;
  margin: auto;
  padding: 0;
}

.products-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 12px;
  padding-inline: 24px;
}
.products-list > * {
  border: white 1px solid;
}

nav {
  height: 80px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: gray;
}
